---
---
{% assign videos = site.posts | where: "type", "Video" | sort: "title" %}

<h2>Live Operators <span class="count">({{ videos | size }})</span></h2>

{% include listings.html listings=videos %}